parameters:
    level: 5

    paths:
        - src/
        - tests/

    ignoreErrors:
        -
           message: '#Method Seld\JsonLint\JsonParser::lint\(\) should return Seld\JsonLint\ParsingException|null but return statement is missing.#'
